/* 공통 스타일 */
body {
	/*
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(60, 60, 60); /* 기본 텍스트 색상 */
}
.orders{
    font-family:"Hahmlet", serif;
    display: flex;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
/* 사이드바 스타일 */
.sidebar {
	margin-top: 45px;
	margin-bottom: 45px;
    width: 250px;
    padding-top: 20px;
    font-family:"Hahmlet", serif;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color:black;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
        text-align:center;
}

.sidebar ul li a:hover {
    background-color: rgba(128, 128, 128, 0.274);
}

.sidebar ul li a.active {
    background-color: #444;
    font-weight: bold;
}

/* 메인 콘텐츠 */
.main-content {
    margin-left: 220px; /* 사이드바 너비 */
    padding: 20px;
    width: calc(100% - 240px); /* 여백 포함한 너비 조정 */
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
	min-height:500px;
}

h2 {
    font-size: 40px;
    color: rgb(60, 60, 95);
    margin: 50px 0;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(177, 176, 176, 0.205);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 4, 0, 0.5);
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

thead {
    background-color: rgb(60, 60, 95);
    color: #fff;
}

thead th {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: rgba(200, 200, 200, 0.5);
}

tbody tr:hover {
    background-color: rgba(177, 176, 176, 0.5);
    cursor: pointer;
}

tbody td {
    padding: 15px;
    font-size: 18px;
    color: rgb(60, 60, 60);
    border-bottom: 1px solid rgba(200, 200, 200, 0.5); /* 셀 구분선 */
}

tbody td:first-child {
    font-weight: bold;
}